<div class="col-md-9">
	<h1>New Author</h1>
	<div class="new-button" ui-sref="authors">/ discard</div>
	<hr/>

	<div ng-form name="myForm">
		<label>Name*</label>
	    <input ng-model="author.name" name="title" type="text" class="form-control" ng-minlength="3" ng-class="{'required': submitted && !myForm.title.$valid}" required/>
	    <br/>
	    <label>About</label>
	    <textarea ng-model="author.body" name="body" class="form-control"></textarea>
	    <br/>
	    <label>Email</label>
	    <input ng-model="author.email" name="url" type="email" class="form-control" />
	    <br/>
		<div class="btn btn-vintage pull-right" ng-click="onSave()" ng-disabled="isSaving">+ save</div>
	</div>
	<span><strong>{{requiredFields}}</strong></span>
</div>
