<!DOCTYPE>
<html lang="sl_SI">
<% include header.ejs %>

	<body class="checkout">

		<!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<div class="container">

			<div class="row" style="margin-top:20px;">
				<div class="brand">
					<a href="/"><h5>utripStore</h5></a>
				</div>
			</div>

			<!-- Cart
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
			<div id="cart">
				<h2>Cart</h2>
				<div class="row">

					<div class="eight columns info">
						<div class="form-container">
							<form id="cart-submit">
								<div class="form-block six columns">
									<div class="label-container">
										<label>First Name</label>
									</div>
									<input id="name" name="name" class="form-element u-full-width" type="text" required/>
								</div>
								<div class="form-block six columns">
									<div class="label-container">
										<label>Last Name</label>
									</div>
									<input id="surname" name="surname" class="form-element" type="text" required/>
								</div>
								<div class="form-block twelve columns">
									<div class="label-container">
										<label>Street Address</label>
									</div>
									<input id="address" name="address" class="form-element" type="text" required/>
								</div>
								<div class="form-block six columns" style="margin-left:0;">
									<div class="label-container">
										<label>Postal code</label>
									</div>
									<input id="zip" name="zip" class="form-element" type="text" required/>
								</div>
								<div class="form-block six columns">
									<div class="label-container">
										<label>City</label>
									</div>
									<input id="city" name="city" class="form-element" type="text" required/>
								</div>
								<div class="form-block twelve columns">
									<div class="label-container">
										<label>Email</label>
									</div>
									<input id="email" name="email" class="form-element" type="email" required/>
								</div>
								<div class="form-block twelve columns">
									<div class="label-container">
										<label>Comments</label>
									</div>
									<textarea id="comment" name="comment" placeholder="Include a message" class="form-element"></textarea>
								</div>

								<button type="submit" class="button button-primary simpleCart_checkout submit-button u-pull-right">Confirm & Submit <i class="fa fa-arrow-right"></i></button>
							</form>


						</div>
					</div>



					<div class="four columns">
						<div class="summary">Total: <span class="simpleCart_grandTotal">0</span> € <i class="fa fa-chevron-down"></i></div>
						<div class="summary-details hidden">
							<div class="simpleCart_items">
								<div>
									<div class="headerRow">
										<div class="item-cart-name">Name</div>
										<div class="item-cart-price">Price</div>
										<div class="item-cart-quantity">Qty</div>
										<div class="item-cart-total">SubTotal</div>
									</div>
								</div>
							</div>
							<div class="cart_info">
								<div class="cart_info_item cart_itemcount">Items:
									<div class="simpleCart_quantity">0</div>
								</div>
								<div class="cart_info_item cart_taxrate">Tax Rate:
									<div class="simpleCart_taxRate">22 %</div>
								</div>
								<div class="cart_info_item cart_tax">Tax:
									<div class="simpleCart_tax">0</div>
								</div>
								<div class="cart_info_item cart_shipping">Shipping:
									<div class="simpleCart_shipping">Free</div>
								</div>
								<div class="cart_info_item cart_total"><b>Total: <div class="simpleCart_grandTotal">0</div></b></div>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
		<div class="notify hidden">
			<p class="notify-text">&nbsp;</p>
		</div>

		<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	</body>

	<% include footer.ejs %>

</html>