<!DOCTYPE>
<html lang="sl_SI">
<% include header.ejs %>

	<body>

		<!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<div class="container">

			<div class="row" style="margin-top:20px;">
				<div class="brand">
					<a href="/"><h5>utripStore</h5></a>
				</div>
			</div>
			<div class="row">
				<div class="column">
					<div id="cart">
						<div class="two columns "><br></div>
						<div class="eight columns">
							<h4 >Your order was placed. <br>Thank you! :)</h4>
							<a class="item-add button button-primary" href="/">Main page</a>
						</div>
					</div>
				</div>
			</div>

			<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	</body>

	<% include footer.ejs %>

</html>