<!DOCTYPE>
<html lang="sl_SI">
<% include header.ejs %>

	<link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&subset=latin-ext" rel="stylesheet">

	<body class="main">

		<!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<div class="section hero">
			<div class="logo"><img src="assets/images/logo.png" class="u-max-full-width" alt="Logo"></div>
			<div class="container">
				<div class="row">
					<div class="one-half column">
						<h4 class="hero-heading">Zavod utrip predstavlja:</h4>
					</div>
					<div class="one-half column">
						<figure class="push-left">
							<figcaption>
								<h1 class="heading">"Dihi"</h1>
							</figcaption>
							<img src="assets/images/dihi.jpg" class="u-max-full-width" alt="Dihi">
							
						</figure>
					</div>
					<a class="button button-primary button-hero" href="#nakup">Naročila</a>
				</div>
			</div>
		</div>

		<div class="section categories">
			<div class="container">
				<p class="section-description">Dihi, naša majhna blazina, je vaš dnevni sopotnik skozi razgibalne aktivnosti ali trenutke ko si želite vzeti čas zase. Dihi je ročno izdelan iz 100 % reciklirani materialov ter prijazen do okolja.</p>
			</div>
		</div>

		<div class="section get-help" id="nakup">
			<div class="container">
				<h3 class="section-heading">Kje si lahko ogledam Dihija v živo?</h3>
				<p class="section-description">Blazinico Dihi si bo moč ogledati in preizkusiti v živo po številnih lokacijah po Sloveniji in tujini, naročiti pa preko te strani. Povprašaj prodajalca za unikatno kodo, preko katere boš dostopil v našo spletno trgovino, ali pa uporabi kar našo :)</p>
				<img width="300" src="http://utrip.vers.si/qr/QZg.png">
				</br></br>
				<a class="button button-primary">Skeniraj QR kodo in vstopi v spletno trgovino</a>
			</div>
		</div>

		<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	</body>

	<% include footer.ejs %>

</html>