.form .col-md-9, .form .col-md-12, .form .col-md-3, .form .col-md-4, .form .col-md-6 {
    padding-left: 0px;
    padding-right: 15px;
}

.orders .col-md-3, .orders .col-md-6, .orders .col-md-8 {    
	padding-left: 0px;
    padding-right: 15px;
}

.orders .col-md-12 {    
	padding: 0px;
}


.orders .cover {
	padding: 0px;
}

.orders img.cover {
}

.orders .order-header {
	font-size: 16px;
	padding-bottom: 0px;

}

.orders .order-item {
	//clear:both;
	border-bottom: 1px solid #eeeeee;
	padding-bottom: 15px;
	padding-top: 15px;
}