<div class="col-md-12">
	<h1>Order #{{order._id}}</h1>
	<div class="new-button" ui-sref="orders">/ back</div>
	<hr/>

</div>

<div class="col-md-6" class="">

	<div ng-form name="myForm" class="form">
		<div class="col-md-6">
			<label>Name*</label>
			<input ng-model="order.name" name="name" type="text" class="form-control" readonly/>
			<br/>
		</div>
		<div class="col-md-6">
			<label>Last name*</label>
			<input ng-model="order.surname" name="surname" type="text" class="form-control" readonly/>
			<br/>
		</div>
		<div class="col-md-12">
			<label>Address*</label>
			<input ng-model="order.address" name="address" type="text" class="form-control" readonly/>
			<br/>
		</div>
		<div class="col-md-6">
			<label>Postal code*</label>
			<input ng-model="order.zip" name="zip" type="text" class="form-control" readonly/>
			<br/>
		</div>
		<div class="col-md-6">
			<label>City*</label>
			<input ng-model="order.city" name="city" type="text" class="form-control" readonly/>
			<br/>
		</div>
		<div class="col-md-12">
			<label>Email*</label>
			<input ng-model="order.email" name="email" type="text" class="form-control" readonly/>
			<br/>
		</div>
		<div class="col-md-12">
			<label>Comment</label>
			<textarea ng-model="order.comment" name="comment" class="form-control" readonly/></textarea>
			<br/>
		</div>
		<div class="col-md-12">
			<label>Status</label>
			<select ng-model="order.status" name="status" ng-options="status.name as status.name for status in statuses" class="form-control"></select>
			<br/>
		</div>
		<div class="btn btn-vintage pull-right" ng-click="onSave()" ng-disabled="isSaving">+ update</div>
	</div>

</div>


<div class="col-md-6 orders">
	<div class="clearfix ordered-items">
		<div class="order-header">Ordered items</div>
		<div ng-repeat="item in order.items" class="order-item col-md-12">
			<div class="col-md-4">
				<img class="cover" ng-if="item.coverImage" ng-src="{{url}}/uploads/{{item.coverImage}}"></img>

			</div>
			<div class="col-md-8">
				<label>{{item.title}}</label>
				<br/>
				<div>{{item.body}}</div>
				<br/>
				<div class="col-md-4">
					<label>Price</label>
					<input ng-model="item.price" name="item.price" type="text" class="form-control" readonly/>
				</div>
				<div class="col-md-2">
					<label>Qty</label>
					<input ng-model="item.quantity" name="item.quantity" type="text" class="form-control" readonly/>
				</div>
				<div class="col-md-offset-2 col-md-4">
					<label>Sub total</label>
					<input ng-init="itemTotal = item.price * item.quantity; $parent.cartTotal = $parent.cartTotal + itemTotal;" value="{{itemTotal}}" name="item.subtotal" type="text" class="form-control" readonly/>
				</div>
			</div>
			<hr>
		</div>
	</div>
	<div class="clearfix ordered-totals">
		<div class="order-header">Total</div>
		</br>
		<p><strong>Tax: </strong>22 %</p>
		<p><strong>Shipping: </strong>Free</p>
		<div class="col-md-6">
			<label>Total</label>
			<input value="{{cartTotal}}" ng-model="cartTotal" name="cart-total" type="text" class="form-control" readonly/>
		</div>
	</div>
</div>