<div class="col-md-12">

    <h1>Projects</h1>
    <div class="new-button" ui-sref="new-project">+ create new</div>
    <input type="text" class="search-form form-control" placeholder="Search projects" ng-model="search">
    <hr/>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Date
                </th>
                <th>
                    Author
                </th>
                <th style="text-align:center">
                    Status
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="fancy" ng-repeat="project in projects | filter:search">
                <td class="title" ui-sref="edit-project({id:project._id})">
                    <strong>{{project.title}}</strong>
                </td>
                <td>
                    {{project.dateCreated | date:'dd.MM.yyyy @ HH:mm'}}
                </td>
                <td>
                    {{project.author.name}}
                </td>
                <td width="70px">
                    <div class="btn btn-xs btn-default" ng-class="{'btn-success': project.active}" ng-click="setActive(project)">Published</div>
                </td>
                <td style="text-align:right">
                    <div class="new-button" ui-sref="edit-project({id:project._id})">
                        Edit</div>
                    /
                    <div class="new-button" ng-click="deleteClick(project._id)">
                        Delete</div>
                </td>
            </tr>
        </tbody>
    </table>
	<div class="no-results">
		<span ng-show="(projects | filter:search).length == 0"><strong>No projects :(</strong></span>
	</div>

</div>
